.slider-home{
  width: 60vw;
  margin: auto;
  position: relative;
  transition: .5s;
  &.expand{width: 100vw;}
  .item_slide{padding: 0 10px; position: relative;}
  .wrap-img{
    position: relative;
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
    &:before{
      content: "";
      display: block;
      padding-top: 66%;
    }
  }
  .slider_img{z-index: 9;}
  .drag{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 1}
}