<div class="slider-home">
    <div class="slider_img">
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube4.jpg" alt="">
            </div>
        </div>
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube5.jpg" alt="">
            </div>
        </div>
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube6.jpg" alt="">
            </div>
        </div>
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube7.jpg" alt="">
            </div>
        </div>
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube8.jpg" alt="">
            </div>
        </div>
        <div class="item_slide">
            <div class="wrap-img">
                <img src="./assets/images/cube9.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="drag"></div>
</div>